<!doctype html>
<html lang="en" ng-app="promisesModule">
  <head>
    <meta charset="utf-8">
    <title>Example</title>
    <link rel="stylesheet" href="../lib/css/bootstrap.css">
  </head>
  <body>
    <div class="container-fluid">
      <p><a href="https://docs.angularjs.org/api/ng/service/$q">$q docs</a></p>

      <div ng-controller="PromiseController as pc">
        <button ng-click="pc.go1()">GO1</button>
        <button ng-click="pc.go2()">GO2</button>
        <button ng-click="pc.stop1()">STOP1</button>
      </div>
    </div>

    <script src="../lib/angular.js"></script>
    <script src="promises.js"></script>
  </body>
</html>
