<div class="container-fluid">
  <div class="row">
    <div class="col-md-4">

      <p>Search: <input ng-model="cl.query"></p>
      <p>Sort by:
      <select ng-model="cl.orderProp">
        <option value=""></option>
        <option value="countryName">Alphabetical</option>
        <option value="areaInSqKm">Smallest</option>
        <option value="-areaInSqKm">Largest</option>
      </select></p>

    </div>
    <div class="col-md-6">

      <ul class="flags">
        <li ng-repeat="c in cl.countries | filter:cl.query | orderBy:cl.orderProp" class="country">
          <a ng-href="#/country/{{c.countryCode}}">
            <img ng-src="../demo-data/flags/{{c.countryCode | lowercase}}.png" class="flag">
            {{c.countryName}}
          </a>
        </li>
      </ul>

    </div>
  </div>
</div>
