/*
  This file is included globally in the index.html
*/

.simple-card {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  padding: 6px;
  margin: 6px;
  border: 2px solid red;
}

/*
  If using Native Shadow DOM you can "pierce"
  the shadow dom using a special CSS selector
*/

/*
::shadow .simple-card {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  padding: 6px;
  margin: 6px;
}
*/
