<div class="row">
  <div class="col m4 s12">
    <div class="card">
      <div class="card-content">
        <div>
          <label for="search">Search:</label>
          <input id="search" ng-model="$ctrl.query">
        </div>
        <div>
          <label for="corder">Sort by: </label>
          <select id="corder" ng-model="$ctrl.orderProp">
            <option value=""></option>
            <option value="countryName">Alphabetical</option>
            <option value="areaInSqKm">Smallest</option>
            <option value="-areaInSqKm">Largest</option>
            <option value="-(population / areaInSqKm)">Densest</option>
          </select>
        </div>

        <p>order = {{$ctrl.orderProp}}</p>
      </div>
    </div>

  </div>
  <div class="col m8">
    <div class="card">
      <div class="card-content">
        <span class="card-title">Country List</span>
        <ul class="collection">
          <li class="collection-item" ng-repeat="country in $ctrl.countries | filter:$ctrl.query | orderBy:$ctrl.orderProp">
            <span><b>{{country.countryName}}</b></span>
            <div>Capital: {{country.capital}}</div>
            <div>Population: {{country.population}}</div>
            <div>Area (sq.km): {{country.areaInSqKm}}</div>
            <div>Population Density: {{country.population / country.areaInSqKm}}</div>
          </li>
        </ul>
      </div>
    </div>

  </div>
</div>
